<div class="container">
    <div class="row">
        <div class="col-lg-12 top-index">
            <img src="images/beer.png" id="index-image">
        </div>
    </div>
    <div class="row">
        <div class="index-buttons">
            <a href="/beers"><button class="check-beers">Check the Beers!</button></a>
            <a href="/random-beer"><button class="ramdom-beer">Check a Random Beer!</button></a>
        </div>
    </div>
</div>