<div class="container">
    <img src="{{randomBeer.image_url}}" id="random-beer">
    <h4 class="beer-title">{{randomBeer.name}}</h4>
    <h6>{{randomBeer.tagline}}</h6>
    <p>{{randomBeer.description}}</p>
</div>